---
- name: 1.1.1.1 Ensure mounting of cramfs filesystems is disabled (Scored)
  block:
    - name: 1.1.1.1 Ensure mounting of cramfs filesystems is disabled [modprobe]
      shell: "modprobe -n -v cramfs"
      register: v11111
      ignore_errors: true
    - name: 1.1.1.1 Ensure mounting of cramfs filesystems is disabled [lsmod]
      shell: "lsmod | grep cramfs"
      register: v11112
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'1.1.1.1 Ensure mounting of cramfs filesystems is disabled (Scored)': 'install /bin/true' in v11111.stdout and v11112.stdout_lines|length==0}) }}"


- name: 1.1.1.2 Ensure mounting of freevxfs filesystems is disabled (Scored)
  block:
    - name: 1.1.1.2 Ensure mounting of freevxfs filesystems is disabled [modprobe]
      shell: "modprobe -n -v freevxfs"
      register: v11121
      ignore_errors: true
    - name: 1.1.1.2 Ensure mounting of freevxfs filesystems is disabled [lsmod]
      shell: "lsmod | grep freevxfs"
      register: v11122
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'1.1.1.2 Ensure mounting of freevxfs filesystems is disabled (Scored)': 'install /bin/true' in v11121.stdout and v11122.stdout_lines|length==0}) }}"


- name: 1.1.1.3 Ensure mounting of jffs2 filesystems is disabled (Scored)
  block:
    - name: 1.1.1.3 Ensure mounting of jffs2 filesystems is disabled [modprobe]
      shell: "modprobe -n -v jffs2"
      ignore_errors: true
      register: v11131
    - name: 1.1.1.3 Ensure mounting of jffs2 filesystems is disabled [lsmod]
      shell: "lsmod | grep jffs2"
      ignore_errors: true
      register: v11132
    - set_fact:
        results: "{{ results|combine({'1.1.1.3 Ensure mounting of jffs2 filesystems is disabled (Scored)': 'install /bin/true' in v11131.stdout and v11132.stdout_lines|length==0}) }}"


- name: 1.1.1.4 Ensure mounting of hfs filesystems is disabled (Scored)
  block:
    - name: 1.1.1.4 Ensure mounting of hfs filesystems is disabled [modprobe]
      shell: "modprobe -n -v hfs"
      ignore_errors: true
      register: v11141
    - name: 1.1.1.4 Ensure mounting of hfs filesystems is disabled [lsmod]
      shell: "lsmod | grep hfs"
      ignore_errors: true
      register: v11142
    - set_fact:
        results: "{{ results|combine({'1.1.1.4 Ensure mounting of hfs filesystems is disabled (Scored)': 'install /bin/true' in v11141 and v11142.stdout_lines|length==0}) }}"


- name: 1.1.1.5 Ensure mounting of hfsplus filesystems is disabled (Scored)
  block:
    - name: 1.1.1.5 Ensure mounting of hfsplus filesystems is disabled [modprobe]
      shell: "modprobe -n -v hfsplus"
      ignore_errors: true
      register: v11151
    - name: 1.1.1.5 Ensure mounting of hfsplus filesystems is disabled [lsmod]
      shell: "lsmod | grep hfsplus"
      ignore_errors: true
      register: v11152
    - set_fact:
        results: "{{ results|combine({'1.1.1.5 Ensure mounting of hfsplus filesystems is disabled (Scored)': 'install /bin/true' in v11151.stdout and v11152.stdout_lines|length==0}) }}"


- name: 1.1.1.6 Ensure mounting of squashfs filesystems is disabled (Scored)
  block:
    - name: 1.1.1.6 Ensure mounting of squashfs filesystems is disabled [modprobe]
      shell: "modprobe -n -v squashfs"
      ignore_errors: true
      register: v11161
    - name: 1.1.1.6 Ensure mounting of squashfs filesystems is disabled [lsmod]
      shell: "lsmod | grep squashfs"
      ignore_errors: true
      register: v11162
    - set_fact:
        results: "{{ results|combine({'1.1.1.6 Ensure mounting of squashfs filesystems is disabled (Scored)': 'install /bin/true' in v11161.stdout and v11162.stdout_lines|length==0}) }}"

- name: 1.1.1.7 Ensure mounting of udf filesystems is disabled (Scored)
  block:
    - name: 1.1.1.7 Ensure mounting of udf filesystems is disabled [modprobe]
      shell: "modprobe -n -v udf"
      ignore_errors: true
      register: v11171
    - name: 1.1.1.7 Ensure mounting of udf filesystems is disabled [lsmod]
      shell: "lsmod | grep udf"
      ignore_errors: true
      register: v11172
    - set_fact:
        results: "{{ results|combine({'1.1.1.7 Ensure mounting of udf filesystems is disabled (Scored)': 'install /bin/true' in v11171.stdout and v11172.stdout_lines|length==0}) }}"

- name: 1.1.1.8 Ensure mounting of FAT filesystems is disabled (Scored)
  block:
    - name: 1.1.1.8 Ensure mounting of FAT filesystems is disabled [modprobe]
      shell: "modprobe -n -v vfat"
      ignore_errors: true
      register: v11181
    - name: 1.1.1.8 Ensure mounting of FAT filesystems is disabled [lsmod]
      shell: "lsmod | grep vfat"
      ignore_errors: true
      register: v11182
    - set_fact:
        results: "{{ results|combine({'1.1.1.8 Ensure mounting of FAT filesystems is disabled (Scored)': 'install /bin/true' in v11181.stdout and v11182.stdout_lines|length==0}) }}"

- name: 1.1.2 Ensure separate partition exists for /tmp (Scored)
  block:
    - name: 1.1.2 Ensure separate partition exists for /tmp
      shell: "mount | grep /tmp"
      ignore_errors: true
      register: v112_output
    - set_fact:
        results: "{{ results|combine({'1.1.2 Ensure separate partition exists for /tmp (Scored)': v112_output.stdout_lines|length!=0}) }}"

- name: 1.1.3 Ensure nodev option set on /tmp partition (Scored)
  block:
    - name: 1.1.3 Ensure nodev option set on /tmp partition (Scored)
      shell: "mount | grep /tmp"
      ignore_errors: true
      register: v113_output
    - set_fact:
        results: "{{ results|combine({'1.1.3 Ensure nodev option set on /tmp partition (Scored)': 'nodev' in v113_output.stdout}) }}"

- name: 1.1.4 Ensure nosuid option set on /tmp partition (Scored)
  block:
    - name: 1.1.4 Ensure nosuid option set on /tmp partition (Scored)
      shell: "mount | grep /tmp"
      ignore_errors: true
      register: v114_output
    - set_fact:
        results: "{{ results|combine({'1.1.4 Ensure nosuid option set on /tmp partition (Scored)': 'nosuid' in v114_output.stdout}) }}"

- name: 1.1.5 Ensure noexec option set on /tmp partition (Scored)
  block:
    - name: 1.1.5 Ensure noexec option set on /tmp partition (Scored)
      shell: "mount | grep /tmp"
      ignore_errors: true
      register: v115_output
    - set_fact:
        results: "{{ results|combine({'1.1.5 Ensure noexec option set on /tmp partition (Scored)': 'noexec' in v115_output}) }}"

- name: 1.1.6 Ensure separate partition exists for /var (Scored)
  block:
    - name: 1.1.6 Ensure separate partition exists for /var (Scored)
      shell: "mount | grep /var"
      ignore_errors: true
      register: v116_output
    - set_fact:
        results: "{{ results|combine({'1.1.6 Ensure separate partition exists for /var (Scored)': v116_output.stdout_lines|length>0}) }}"

- name: 1.1.7 Ensure separate partition exists for /var/tmp (Scored)
  block:
    - name: 1.1.7 Ensure separate partition exists for /var/tmp (Scored)
      shell:  "mount | grep /var/tmp"
      ignore_errors: true
      register: v117_output
    - set_fact:
        results: "{{ results|combine({'1.1.7 Ensure separate partition exists for /var/tmp (Scored)': 'nodev' in v117_output.stdout}) }}"

- name: 1.1.8 Ensure nodev option set on /var/tmp partition (Scored)
  block:
    - name: 1.1.8 Ensure nodev option set on /var/tmp partition (Scored)
      shell: "mount | grep /var/tmp"
      ignore_errors: true
      register: v118_output
    - set_fact:
        results: "{{ results|combine({'1.1.8 Ensure nodev option set on /var/tmp partition (Scored)': v118_output.stdout is search(\"nodev\")}) }}"

- name: 1.1.9 Ensure nosuid option set on /var/tmp partition (Scored)
  block:
    - name: 1.1.9 Ensure nosuid option set on /var/tmp partition (Scored)
      shell: "mount | grep /var/tmp"
      ignore_errors: true
      register: v119_output
    - set_fact:
        results: "{{ results|combine({'1.1.9 Ensure nosuid option set on /var/tmp partition (Scored)': v119_output.stdout_lines|length>0}) }}"

- name: 1.1.10 Ensure noexec option set on /var/tmp partition (Scored)
  block:
    - name: 1.1.10 Ensure noexec option set on /var/tmp partition (Scored)
      shell: "mount | grep /var/tmp"
      ignore_errors: true
      register: v11_10_output
    - set_fact:
        results: "{{ results|combine({'1.1.10 Ensure noexec option set on /var/tmp partition (Scored)': v11_10_output.stdout is search(\"noexec\")}) }}"

- name: 1.1.11 Ensure separate partition exists for /var/log (Scored)
  block:
    - name: 1.1.11 Ensure separate partition exists for /var/log (Scored)
      shell: "mount | grep /var/log"
      ignore_errors: true
      register: v11_11_output
    - set_fact:
        results: "{{ results|combine({'1.1.11 Ensure separate partition exists for /var/log (Scored)': v11_11_output.stdout_lines|length>0}) }}"

- name: 1.1.12 Ensure separate partition exists for /var/log/audit (Scored)
  block:
    - name: 1.1.12 Ensure separate partition exists for /var/log/audit (Scored)
      shell: "mount | grep /var/log/audit"
      ignore_errors: true
      register: v11_12_output
    - set_fact:
        results: "{{ results|combine({'1.1.12 Ensure separate partition exists for /var/log/audit (Scored)': v11_12_output.stdout_lines|length>0}) }}"

- name: 1.1.13 Ensure separate partition exists for /home (Scored)
  block:
    - name: 1.1.13 Ensure separate partition exists for /home (Scored)
      shell: "mount | grep /home"
      ignore_errors: true
      register: v11_13_output
    - set_fact:
        results: "{{ results|combine({'1.1.13 Ensure separate partition exists for /home (Scored)': v11_13_output.stdout_lines|length>0}) }}"

- name: 1.1.14 Ensure nodev option set on /home partition (Scored)
  block:
    - name: 1.1.14 Ensure nodev option set on /home partition (Scored)
      shell:  "mount | grep /home"
      ignore_errors: true
      register: v11_14_output
    - set_fact:
        results: "{{ results|combine({'1.1.14 Ensure nodev option set on /home partition (Scored)': v11_14_output is search(\"nodev\")})}}"

- name: 1.1.15 Ensure nodev option set on /dev/shm partition (Scored)
  block:
    - name: 1.1.15 Ensure nodev option set on /dev/shm partition (Scored)
      shell: "mount | grep /dev/shm"
      ignore_errors: true
      register: v11_15_output
    - set_fact:
        results: "{{ results|combine({'1.1.15 Ensure nodev option set on /dev/shm partition (Scored)': v11_15_output is search(\"nodev\")}) }}"

- name: 1.1.16 Ensure nosuid option set on /dev/shm partition (Scored)
  block:
    - name: 1.1.16 Ensure nosuid option set on /dev/shm partition (Scored)
      shell: "mount | grep /dev/shm"
      ignore_errors: true
      register: v11_16_output
    - set_fact:
        results: "{{ results|combine({'1.1.16 Ensure nosuid option set on /dev/shm partition (Scored)': v11_16_output is search(\"nosuid\")}) }}"

- name: 1.1.17 Ensure noexec option set on /dev/shm partition (Scored)
  block:
    - name: 1.1.17 Ensure noexec option set on /dev/shm partition (Scored)
      shell: "mount | grep /dev/shm"
      ignore_errors: true
      register: v11_17_output
    - set_fact:
        results: "{{ results|combine({'1.1.17 Ensure noexec option set on /dev/shm partition (Scored)': v11_17_output is search(\"noexec\")}) }}"

- name: 1.1.18 Ensure nodev option set on removable media partitions (Not Scored)
  block:
  - name: 1.1.18 Ensure nodev option set on removable media partitions [floppy]
    shell: "grep 'floppy' /etc/fstab && grep 'floppy.*nodev' /etc/fstab"
    ignore_errors: true
    register: v11_18_1
  - name: 1.1.18 Ensure nodev option set on removable media partitions [cdrom]
    shell: "grep 'cdrom' /etc/fstab && grep 'cdrom.nodev' /etc/fstab"
    register: v11_18_2
    ignore_errors: true
  - set_fact:
      results: "{{ results|combine({'1.1.18 Ensure nodev option set on removable media partitions (Not Scored)': (v11_18_1.rc==1 or 'nodev' in v11_18_1.stdout) and (v11_18_2.rc==1 or 'nodev' in v11_18_2.stdout)}) }}"

- name: 1.1.19 Ensure nosuid option set on removable media partitions (Not Scored)
  block:
    - name: 1.1.19 Ensure nosuid option set on removable media partitions [floppy]
      shell: "grep 'floppy' /etc/fstab && grep 'floppy.nosuid' /etc/fstab"
      ignore_errors: true
      register: v11_19_1
    - name: 1.1.19 Ensure nosuid option set on removable media partitions [cdrom]
      shell: "grep 'cdrom' /etc/fstab && grep 'cdrom.*nosuid' /etc/fstab"
      ignore_errors: true
      register: v11_19_2
    - set_fact:
        results: "{{ results|combine({'1.1.19 Ensure nosuid option set on removable media partitions (Not Scored)': (v11_19_1.rc==1 or 'nosuid' in v11_19_1.stdout) and (v11_19_2.rc==1 or 'nosuid' in v11_19_2.stdout)}) }}"

- name: 1.1.20 Ensure noexec option set on removable media partitions (Not Scored)
  block:
    - name: 1.1.20 Ensure noexec option set on removable media partitions [floppy]
      shell: "grep 'floppy' /etc/fstab && grep 'floppy.*noexec' /etc/fstab"
      ignore_errors: true
      register: v11_20_1
    - name: 1.1.20 Ensure noexec option set on removable media partitions [cdrom]
      shell: "grep 'cdrom' /etc/fstab && grep 'cdrom.*noexec' /etc/fstab"
      ignore_errors: true
      register: v11_20_2
    - set_fact:
        results: "{{ results|combine({'1.1.20 Ensure noexec option set on removable media partitions (Not Scored)': (v11_20_1.rc==1 or 'noexec' in v11_20_1.stdout) and (v11_20_2.rc==1 or 'noexec' in v11_20_2.stdout)}) }}"

- name: 1.1.21 Ensure sticky bit is set on all world-writable directories (Scored)
  block:
    - name: 1.1.21 Ensure sticky bit is set on all world-writable directories
      shell: "df --local -P 2> /dev/null | awk '{if (NR!=1) print $6}' | xargs -I '{}' find '{}' -xdev -type d \\( -perm -0002 -a ! -perm -1000 \\) 2> /dev/null"
      ignore_errors: true
      register: v11_21_output
    - set_fact:
        results: "{{ results|combine({'1.1.21 Ensure sticky bit is set on all world-writable directories (Scored)': v11_21_output.stdout_lines|length==0}) }}"

- name: 1.1.22 Disable Automounting (Scored)
  block:
    - name: 1.1.22 Disable Automounting
      command: systemctl is-enabled autofs
      ignore_errors: true
      register: v11_22_output
    - set_fact:
        results: "{{ results|combine({'1.1.22 Disable Automounting (Scored)': not 'enabled' in v11_22_output.stdout_lines or v11_22_output.rc==1}) }}"



