---
- name: 1.2.2 Ensure gpgcheck is globally activated (Scored)
  block:
    - name: 1.2.2 check yum.conf
      shell: "egrep -c '^gpgcheck=1' /etc/yum.conf"
      register: v122_1_output
    - name: 1.2.2 get yum repos conf files
      shell: "ls /etc/yum.repos.d/*"
      register: v122_2_output
    - name: 1.2.2 check repos conf files
      shell: "egrep -c '^gpgcheck=1' {{ item }}"
      register: v122_3_output
      with_items: "{{v122_2_output.stdout_lines}}"
    - name: 1.2.2 check repo files facts
      set_fact:
        v122_4: v122_3_output.results | selectattr('stdout','equalto','0') | list | count == 0
    - name: 1.2.2 set fact
      set_fact:
        results: "{{ results|combine({'1.2.2': '1' in v122_1_output and v122_4}) }}"


- name:
  block:
    - name: 1.2.3 Ensure GPG keys are configured (Not Scored)
      shell: "rpm -q gpg-pubkey --qf '%{name}-%{version}-%{release} --> %{summary}\n'"
      register: v123_output
    - name: 1.2.3 set fact
      set_fact:
        results: "{{ results|combine({'1.2.3': 'Red Hat' in v123_output}) }}"


- name: 1.2.5 Disable the rhnsd Daemon (Not Scored)
  block:
    - name: 1.2.5 Check config for RHNSD
      shell: chkconfig --list rhnsd
      ignore_errors: true
      register: v125_output
    - name: 1.2.5 set fact
      set_fact:
        results: "{{ results|combine({'1.2.5': v125_output.stdout_lines| length==0 or not 'on' in v125_output.stdout }) }}"
