---
### 1.3 Filesystem Integrity Checking

- name: 1.3.1 Ensure AIDE is installed (Scored)
  block:
  - name: 1.3.1 Ensure AIDE is installed [query RPM package]
    shell: "rpm -q aide"
    ignore_errors: true
    register: v131_output
  - name: 1.3.1 set fact
    set_fact:
      results: "{{ results|combine({'1.3.1 Ensure AIDE is installed (Scored)': v131_output.stdout is match('aide-\\S+')}) }}"

- name: 1.3.2 Ensure filesystem integrity is regularly checked (Scored)
  block:
    - name: 1.3.2 Ensure filesystem integrity is regularly checked [Check cron job for aide]
      shell: "grep -r aide /etc/cron.* /etc/crontab"
      ignore_errors: true
      register: v132_output
    - name: 1.3.2 set fact
      set_fact:
        results: "{{ results|combine({'1.3.2 Ensure filesystem integrity is regularly checked (Scored)': v132_output.stdout_lines|length>0 and v132_output.stdout_lines|map('regex_search','^[^#]*')|select('string')|list|length>0}) }}"
