---
### 1.7 Warning Banners

- name: 1.7.1.1 Ensure message of the day is configured properly (Scored)
  block:
    - name: 1.7.1.1 Ensure message of the day is configured properly
      shell: "egrep '(\\v|\\r|\\m|\\s)' /etc/motd"
      ignore_errors: true
      register: v1711_output
    - set_fact:
        results: "{{ results|combine({'1.7.1.1 Ensure message of the day is configured properly (Scored)': v1711_output.stdout_lines|length==0}) }}"

- name: 1.7.1.2 Ensure local login warning banner is configured properly (Not Scored)
  block:
    - name: 1.7.1.2 Ensure local login warning banner is configured properly (Not Scored)
      shell: "egrep '(\\v|\\r|\\m|\\s)' /etc/issue"
      ignore_errors: true
      register: v1712_output
    - set_fact:
        results: "{{ results|combine({ '1.7.1.2 Ensure local login warning banner is configured properly (Not Scored)': v1712_output.stdout_lines|length==0}) }}"

- name: 1.7.1.3 Ensure remote login warning banner is configured properly (No Scored)
  block:
  - name: 1.7.1.3 Ensure remote login warning banner is configured properly (No Scored)
    shell: "egrep '(\\v|\\r|\\m|\\s)' /etc/issue.net"
    ignore_errors: true
    register: v1713_output
  - set_fact:
      results: "{{ results|combine({'1.7.1.3 Ensure remote login warning banner is configured properly (No Scored)': v1713_output.stdout_lines|length==0}) }}"

- name: 1.7.1.4 Ensure permissions on /etc/motd are configured (Not Scored)
  block:
    - name: 1.7.1.4 Ensure permissions on /etc/motd are configured
      shell: "stat /etc/motd"
      register: v1714_output
    - set_fact:
        results: "{{ results|combine({'1.7.1.4 Ensure permissions on /etc/motd are configured (Not Scored)': v1714_output.stdout is match('Access:\\s*(0644\\/-rw-r--r--)\\s*Uid:\\s*(\\s*0\\/\\s*root)\\s*Gid:\\s*(\\s*0\\/\\s*root)')}) }}"

- name: 1.7.1.5 Ensure permissions on /etc/issue are configured (Not Scored)
  block:
    - name: 1.7.1.5 Ensure permissions on /etc/issue are configured
      shell: "stat /etc/issue"
      register: v1715_output
    - set_fact:
        results: "{{ results|combine({'1.7.1.5 Ensure permissions on /etc/issue are configured (Not Scored)': v1715_output.stdout is match('Access:\\s*(0644\\/-rw-r--r--)\\s*Uid:\\s*(\\s*0\\/\\s*root)\\s*Gid:\\s*(\\s*0\\/\\s*root)')}) }}"

- name: 1.7.1.6 Ensure permissions on /etc/issue.net are configured (Not Scored)
  block:
    - name: 1.7.1.6 Ensure permissions on /etc/issue.net are configured
      shell: "stat /etc/issue"
      register: v1716_output
    - set_fact:
        results: "{{ results|combine({'1.7.1.6 Ensure permissions on /etc/issue.net are configured (Not Scored)': v1716_output.stdout is match('Access:\\s*(0644\\/-rw-r--r--)\\s*Uid:\\s*(\\s*0\\/\\s*root)\\s*Gid:\\s*(\\s*0\\/\\s*root)')}) }}"

- name: 1.7.2 Ensure GDM login banner is configured (Scored)
  block:
    - name: 1.7.2 Ensure GDM login banner is configured [read gdm config]
      shell: "cat /etc/dconf/profile/gdm"
      ignore_errors: true
      register: v172_1_output
    - name: 1.7.2 Ensure GDM login banner is configured [verify banner message enabled parameter]
      shell: "grep -r 'banner-message-enable=true' /etc/dconf/db/gdm.d/*"
      register: v172_2_output
      ignore_errors: true
    - name: 1.7.2 Ensure GDM login banner is configured [verify banner message set]
      shell: "grep -r -E 'banner-message-text=*' /etc/dconf/db/gdm.d/*"
      register: v172_3_output
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'1.7.2 Ensure GDM login banner is configured (Scored)': (v172_1_output.stdout_lines|length==0 or (v172_1_output.stdout is search('user-db:user') and v172_1_output.stdout is search('system-db:gdm') and v172_1_output is search('file-db:/usr/share/gdm/greeter-dconf-defaults'))) and (v172_2_output.stderr_lines|length>0 or (v172_2_output.stdout_lines|length>1 and v172_3_output.stdout_lines|length>1))}) }}"
