---
### 2.1 inetd Services

- name: 2.1.1 Ensure chargen services are not enabled (Scored)
  block:
    - name: 2.1.1 Ensure chargen services are not enabled
      shell: " chkconfig --list"
      register: v211_output
    - set_fact:
        results: "{{ results|combine({'2.1.1 Ensure chargen services are not enabled (Scored)': (v211_output.stdout|regex_findall('chargen-dgram:\\s*off')|count==1 or not 'chargen-dgram' in v211_output.stdout) and (v211_output.stdout|regex_findall('chargen-stream: off')|count==1 or not 'chargen-stream' in v211_output.stdout)}) }}"

- name: 2.1.2 Ensure daytime services are not enabled (Scored)
  block:
    - name: 2.1.2 Ensure daytime services are not enabled
      shell: "chkconfig --list"
      register: v212_output
    - set_fact:
        results: "{{ results|combine({'2.1.2 Ensure daytime services are not enabled (Scored)': (v212_output.stdout|regex_findall('daytime-dgram:\\s*off')|count==1 or not 'daytime-dgram' in v212_output.stdout) and (v212_output.stdout|regex_findall('daytime-stream: off')|count==1 or not 'daytime-stream' in v212_output.stdout)}) }}"

- name: 2.1.3 Ensure discard services are not enabled (Scored)
  block:
    - name: 2.1.3 Ensure discard services are not enabled
      shell: "chkconfig --list"
      register: v213_output
    - set_fact:
        results: "{{ results|combine({'2.1.3 Ensure discard services are not enabled (Scored)': (v213_output.stdout|regex_findall('discard-dgram:\\s*off')|count==1 or not 'discra-dgram' in v213_output.stdout) and v213_output.stdout|regex_findall('discard-stream: off')|count==1 or not 'discard-stream' in v213_output.stdout}) }}"

- name: 2.1.4 Ensure echo services are not enabled (Scored)
  block:
    - name: 2.1.4 Ensure echo services are not enabled
      shell: "chkconfig --list"
      register: v214_output
    - set_fact:
        results: "{{ results|combine({'2.1.4 Ensure echo services are not enabled (Scored)': (v214_output.stdout|regex_findall('echo-dgram:\\s*off')|count==1 or not 'echo-dgram' in v214_output.stdout) and (v214_output.stdout|regex_findall('echo-stream: off')|count==1 or not 'echo-stream' in v214_output.stdout)}) }}"

- name: 2.1.5 Ensure time services are not enabled (Scored)
  block:
    - name: 2.1.5 Ensure time services are not enabled (Scored)
      shell: "chkconfig --list"
      register: v215_output
    - set_fact:
        results: "{{ results|combine({'2.1.5 Ensure time services are not enabled (Scored)': (v215_output.stdout|regex_findall('time-dgram:\\s*off')|count==1 or not 'time-dgram' in v215_output.stdout) and (v215_output.stdout|regex_findall('time-stream: off')|count==1 or not 'time-stream' in v215_output.stdout)}) }}"

- name: 2.1.6 Ensure tftp server is not enabled (Scored)
  block:
    - name: 2.1.6 Ensure tftp server is not enabled (Scored)
      shell: "chkconfig --list"
      register: v216_output
    - set_fact:
        results: "{{ results|combine({'2.1.6 Ensure tftp server is not enabled (Scored)': v216_output.stdout|regex_findall('tftp:\\s*off')|count==1 or not 'tftp' in v216_output.stdout}) }}"

- name: 2.1.7 Ensure xinetd is not enabled (Scored)
  block:
    - name: 2.1.7 Ensure xinetd is not enabled
      shell: "systemctl is-enabled xinetd"
      ignore_errors: true
      register: v217_output
    - set_fact:
        results: "{{ results|combine({'2.1.7 Ensure xinetd is not enabled (Scored)': not 'enabled' in v217_output or v217_output.rc==1}) }}"


