---
- name: 2.2.1.1 Ensure time synchronization is in use (Not Scored)
  block:
    - name: 2.2.1.1 check ntp application
      shell: "rpm -q ntp"
      register: v2211_1_output
      ignore_errors: true
    - name: 2.2.1.1 check chrony application
      shell: "rpm -q chrony"
      register: v2211_2_output
      ignore_errors: true
    - name: 2.2.1.1 set fact
      set_fact:
        results: "{{ results|combine({'2.2.1.1': v2211_1_output.stdout is match('ntp-\\S+') or v2211_2_output.stdout is match('chrony-\\S+')}) }}"
    - name: 2.2.1.1 ntp usage flag
      set_fact:
        ntp_use: "{{v2211_1_output is match('ntp-\\S+')}}"
    - name: 2.2.1.1 chrony usage flag
      set_fact:
        chrony_use: "{{v2211_2_output is match('chrony-\\S+')}}"
  tags:
    - 2_2
    - section2

- name: 2.2.1.2 Ensure ntp is configured (Scored)
  block:
    - name: 2.2.1.2 check for restriction ntp.conf
      shell: 'grep "^restrict" /etc/ntp.conf'
      register: v2212_1_output
      ignore_errors: true
    - name: 2.2.1.2 verify remote server is configured properly
      shell: 'grep "^(server|pool)" /etc/ntp.conf'
      ignore_errors: true
      register: v2212_2_output
    - name: 2.2.1.2 verify user and group launch argumets
      shell: 'grep "^OPTIONS" /etc/sysconfig/ntpd'
      register: v2212_3_output
      ignore_errors: true
    - name: 2.2.1.2 verify systemd unit launch options
      shell: 'grep "^ExecStart" /usr/lib/systemd/system/ntpd.service'
      register: v2212_4_output
      ignore_errors: treu
    - name: 2.2.1.2 set fact
      set_fact:
        results: "{{ results|combine({'2.2.1.2': v2212_1_output.stdout is search('restrict\\s*(-4)?\\s*default\\s*(?=.*kod)\\s*(?=.*nomodify)\\s*(?=.*notrap)\\s*(?=.*nopeer)\\s*(?=.*noquery)\\s*')) and v2212_1_output.stdout is search('restrict\\s*-6\\s*default\\s*(?=.*kod)\\s*(?=.*nomodify)\\s*(?=.*notrap)\\s*(?=.*nopeer)\\s*(?=.*noquery)\\s*')) and v2212_2_output.stdout is search('server\\s*\\S+') and (('OPTIONS=\"-u ntp:ntp\"' in v2212_3_output.stdout) or ('-u ntp:ntp' in v2212_4_output.stdout))}) }}"
  when: "ntp_use"
  tags:
    - 2_2
    - section2
- name: 2.2.1.3 Ensure chrony is configured (Scored)
  block:
    - name: 2.2.1.3 check remote server config
      shell: 'grep "^(server|pool)" /etc/chrony.conf'
      register: v2213_1_output
    - name: 2.2.1.3 check launch options
      shell: 'grep ^OPTIONS /etc/sysconfig/chronyd'
      register: v2213_2_output
    - name: 2.2.1.3 set fact
      set_fact:
        results: "{{ results|combine({'2.2.1.3': v2213_1_output.stdout is search('server\\s*\\S+') and 'OPTIONS=\"-u chrony\"' in v2213_2_output.stdout}) }}"
  when: "chrony_use"
  tags:
    - 2_2
    - section2