---
- name: 2.2.1.1 Ensure time synchronization is in use (Not Scored)
  block:
    - name: 2.2.1.1 Ensure time synchronization is in use [check ntp application]
      shell: "rpm -q ntp"
      register: v2211_1_output
      ignore_errors: true
    - name: 2.2.1.1 Ensure time synchronization is in use [check chrony application]
      shell: "rpm -q chrony"
      register: v2211_2_output
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'2.2.1.1 Ensure time synchronization is in use (Not Scored)': v2211_1_output.stdout is match('ntp-\\S+') or v2211_2_output.stdout is match('chrony-\\S+')}) }}"
    - set_fact:
        ntp_use: "{{v2211_1_output is match('ntp-\\S+')}}"
    - set_fact:
        chrony_use: "{{v2211_2_output is match('chrony-\\S+')}}"


- name: 2.2.1.2 Ensure ntp is configured (Scored)
  block:
    - name: 2.2.1.2 Ensure ntp is configured [check for restriction ntp.conf]
      shell: 'grep "^restrict" /etc/ntp.conf'
      register: v2212_1_output
      ignore_errors: true
    - name: 2.2.1.2 Ensure ntp is configured [verify remote server is configured properly]
      shell: 'grep "^(server|pool)" /etc/ntp.conf'
      ignore_errors: true
      register: v2212_2_output
    - name: 2.2.1.2 Ensure ntp is configured [verify user and group launch argumets]
      shell: 'grep "^OPTIONS" /etc/sysconfig/ntpd'
      register: v2212_3_output
      ignore_errors: true
    - name: 2.2.1.2 Ensure ntp is configured [verify systemd unit launch options]
      shell: 'grep "^ExecStart" /usr/lib/systemd/system/ntpd.service'
      register: v2212_4_output
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'2.2.1.2 Ensure ntp is configured (Scored)': v2212_1_output.stdout is search('restrict\\s*(-4)?\\s*default\\s*(?=.*kod)\\s*(?=.*nomodify)\\s*(?=.*notrap)\\s*(?=.*nopeer)\\s*(?=.*noquery)\\s*')) and v2212_1_output.stdout is search('restrict\\s*-6\\s*default\\s*(?=.*kod)\\s*(?=.*nomodify)\\s*(?=.*notrap)\\s*(?=.*nopeer)\\s*(?=.*noquery)\\s*')) and v2212_2_output.stdout is search('server\\s*\\S+') and (('OPTIONS=\"-u ntp:ntp\"' in v2212_3_output.stdout) or ('-u ntp:ntp' in v2212_4_output.stdout))}) }}"
  when: "ntp_use"

- name: 2.2.1.3 Ensure chrony is configured (Scored)
  block:
    - name: 2.2.1.3 Ensure chrony is configured [check remote server config]
      shell: 'grep "^(server|pool)" /etc/chrony.conf'
      ignore_errors: true
      register: v2213_1_output
    - name: 2.2.1.3 Ensure chrony is configured [check launch options]
      shell: 'grep ^OPTIONS /etc/sysconfig/chronyd'
      ignore_errors: true
      register: v2213_2_output
    - set_fact:
        results: "{{ results|combine({'2.2.1.3 Ensure chrony is configured (Scored)': v2213_1_output.stdout is search('server\\s*\\S+') and 'OPTIONS=\"-u chrony\"' in v2213_2_output.stdout}) }}"
  when: "chrony_use"
