---
### 2.2 Special Purpose Services

- name: 2.2.1.1 Ensure time synchronization is in use (Not Scored)
  block:
    - name: 2.2.1.1 Ensure time synchronization is in use [check ntp application]
      shell: "rpm -q ntp"
      register: v2211_1_output
      ignore_errors: true
    - name: 2.2.1.1 Ensure time synchronization is in use [check chrony application]
      shell: "rpm -q chrony"
      register: v2211_2_output
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'2.2.1.1 Ensure time synchronization is in use (Not Scored)': v2211_1_output.stdout is match('ntp-\\S+') or v2211_2_output.stdout is match('chrony-\\S+')}) }}"
    - set_fact:
        ntp_use: "{{v2211_1_output is match('ntp-\\S+')}}"
    - set_fact:
        chrony_use: "{{v2211_2_output is match('chrony-\\S+')}}"
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.1.2 Ensure ntp is configured (Scored)
  block:
    - name: 2.2.1.2 Ensure ntp is configured [check for restriction ntp.conf]
      shell: 'grep "^restrict" /etc/ntp.conf'
      register: v2212_1_output
      ignore_errors: true
    - name: 2.2.1.2 Ensure ntp is configured [verify remote server is configured properly]
      shell: 'grep "^(server|pool)" /etc/ntp.conf'
      ignore_errors: true
      register: v2212_2_output
    - name: 2.2.1.2 Ensure ntp is configured [verify user and group launch argumets]
      shell: 'grep "^OPTIONS" /etc/sysconfig/ntpd'
      register: v2212_3_output
      ignore_errors: true
    - name: 2.2.1.2 Ensure ntp is configured [verify systemd unit launch options]
      shell: 'grep "^ExecStart" /usr/lib/systemd/system/ntpd.service'
      register: v2212_4_output
      ignore_errors: true
    - set_fact:
        results: "{{ results|combine({'2.2.1.2 Ensure ntp is configured (Scored)': v2212_1_output.stdout is search('restrict\\s*(-4)?\\s*default\\s*(?=.*kod)\\s*(?=.*nomodify)\\s*(?=.*notrap)\\s*(?=.*nopeer)\\s*(?=.*noquery)\\s*')) and v2212_1_output.stdout is search('restrict\\s*-6\\s*default\\s*(?=.*kod)\\s*(?=.*nomodify)\\s*(?=.*notrap)\\s*(?=.*nopeer)\\s*(?=.*noquery)\\s*')) and v2212_2_output.stdout is search('server\\s*\\S+') and (('OPTIONS=\"-u ntp:ntp\"' in v2212_3_output.stdout) or ('-u ntp:ntp' in v2212_4_output.stdout))}) }}"
  when: "ntp_use"
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.1.3 Ensure chrony is configured (Scored)
  block:
    - name: 2.2.1.3 Ensure chrony is configured [check remote server config]
      shell: 'grep "^(server|pool)" /etc/chrony.conf'
      ignore_errors: true
      register: v2213_1_output
    - name: 2.2.1.3 Ensure chrony is configured [check launch options]
      shell: 'grep ^OPTIONS /etc/sysconfig/chronyd'
      ignore_errors: true
      register: v2213_2_output
    - set_fact:
        results: "{{ results|combine({'2.2.1.3 Ensure chrony is configured (Scored)': v2213_1_output.stdout is search('server\\s*\\S+') and 'OPTIONS=\"-u chrony\"' in v2213_2_output.stdout}) }}"
  when: "chrony_use"
  tags:
    - level1_server
    - level1_workstation
- name: 2.2.2 Ensure X Window System is not installed (Scored)
  block:
    - name: 2.2.2 Ensure X Window System is not installed
      shell: 'rpm -qa xorg-x11*'
      ignore_errors: true
      register: v222
    - set_fact:
        results: '{{ results|combine({"2.2.2 Ensure X Window System is not installed (Scored)": v222.stdout_lines|length==0}) }}'
  tags:
    - level1_server

- name: 2.2.3 Ensure Avahi Server is not enabled (Scored)
  block:
    - name: 2.2.3 Ensure Avahi Server is not enabled
      shell: 'systemctl is-enabled avahi-daemon'
      register: v223
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.3 Ensure Avahi Server is not enabled (Scored)": "disabled" in v223.stdout or v223.rc == 1}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.4 Ensure CUPS is not enabled (Scored)
  block:
    - name: 2.2.4 Ensure CUPS is not enabled
      shell: 'systemctl is-enabled cups'
      register: v224
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.4 Ensure CUPS is not enabled (Scored)": "disabled" in v224.stdout or v224.rc == 1}) }}'
  tags:
    - level1_server
    - level2_workstation

- name: 2.2.5 Ensure DHCP Server is not enabled (Scored)
  block:
    - name: 2.2.5 Ensure DHCP Server is not enabled
      shell: 'systemctl is-enabled dhcpd'
      register: v225
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.5 Ensure DHCP Server is not enabled (Scored)": not "enabled" in v225.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.6 Ensure LDAP server is not enabled (Scored)
  block:
    - name: 2.2.6 Ensure LDAP server is not enabled
      shell: 'systemctl is-enabled slapd'
      register: v226
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.6 Ensure LDAP server is not enabled (Scored)": not "enabled" in v226.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.7 Ensure NFS and RPC are not enabled (Scored)
  block:
    - name: 2.2.7 Ensure NFS and RPC are not enabled
      shell: 'systemctl is-enabled nfs'
      register: v227_1
      ignore_errors: true
    - name: 2.2.7 Ensure NFS and RPC are not enabled
      shell: 'systemctl is-enabled nfs-server'
      register: v227_2
      ignore_errors: true
    - name: 2.2.7 Ensure NFS and RPC are not enabled
      shell: 'systemctl is-enabled rpcbind'
      register: v227_3
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.7 Ensure NFS and RPC are not enabled (Scored)": "disabled" in v227_1.stdout and "disabled" in v227_2.stdout and "disabled" in v227_3.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.8 Ensure DNS Server is not enabled (Scored)
  block:
    - name: 2.2.8 Ensure DNS Server is not enabled
      shell: 'systemctl is-enabled named'
      register: v228
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.8 Ensure DNS Server is not enabled (Scored)": "disabled" in v228.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.9 Ensure FTP Server is not enabled (Scored)
  block:
    - name: 2.2.9 Ensure FTP Server is not enabled
      shell: 'systemctl is-enabled vsftpd'
      register: v229
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.9 Ensure FTP Server is not enabled (Scored)": "disabled" in v229.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.10 Ensure HTTP server is not enabled (Scored)
  block:
    - name: 2.2.10 Ensure HTTP server is not enabled
      shell: 'systemctl is-enabled httpd'
      register: v2210
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.10 Ensure HTTP server is not enabled (Scored)": "disabled" in v2210.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.11 Ensure IMAP and POP3 server is not enabled (Scored)
  block:
    - name: 2.2.11 Ensure IMAP and POP3 server is not enabled
      shell: 'systemctl is-enabled dovecot'

      register: v2211
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.11 Ensure IMAP and POP3 server is not enabled (Scored)": "disabled" in v2211.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.12 Ensure Samba is not enabled (Scored)
  block:
    - name: 2.2.12 Ensure Samba is not enabled
      shell: 'systemctl is-enabled smb'
      register: v2212
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.12 Ensure Samba is not enabled (Scored)": "disabled" in v2212.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.13 Ensure HTTP Proxy Server is not enabled (Scored)
  block:
    - name: 2.2.13 Ensure HTTP Proxy Server is not enabled
      shell: systemctl is-enabled squid
      register: v2213
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.13 Ensure HTTP Proxy Server is not enabled (Scored)": "disabled" in v2213.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.14 Ensure SNMP Server is not enabled (Scored)
  block:
    - name: 2.2.14 Ensure SNMP Server is not enabled
      shell: 'systemctl is-enabled snmpd'
      register: v2214
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.14 Ensure SNMP Server is not enabled (Scored)": "disabled" in v2214.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.15 Ensure mail transfer agent is configured for local-only mode (Scored)
  block:
    - name: 2.2.15 Ensure mail transfer agent is configured for local-only mode
      shell: 'netstat -an | grep LIST | grep ":25[[:space:]]"'
      register: v2215
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.15 Ensure mail transfer agent is configured for local-only mode (Scored)": v2215.stdout is match("tcp\s+\d+\s+\d+\s+(127\.0\.0\.1|::1|localhost):25\s+0\.0\.0\.0:\*\s+LISTEN")}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.16 Ensure NIS Server is not enabled (Scored)
  block:
    - name: 2.2.16 Ensure NIS Server is not enabled
      shell: 'systemctl is-enabled ypserv'
      register: v2216
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.16 Ensure NIS Server is not enabled (Scored)": "disabled" in v2216.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.17 Ensure rsh server is not enabled (Scored)
  block:
    - name: 2.2.17 Ensure rsh server is not enabled [rsh]
      shell: 'systemctl is-enabled rsh.socket'
      register: v2217_1
      ignore_errors: true
    - name:  2.2.17 Ensure rsh server is not enabled [rlogin]
      shell: 'systemctl is-enabled rlogin.socket'
      register: v2217_2
      ignore_errors: true
    - name: 2.2.17 Ensure rsh server is not enabled [rexec]
      shell: 'systemctl is-enabled rexec.socket'
      register: v2217_3
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.17 Ensure rsh server is not enabled (Scored)": "disabled" in v2217_1.stdout and "disabled" in v2217_2.stdout and "disabled" in v2217_3.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.18 Ensure talk server is not enabled (Scored)
  block:
    - name: 2.2.18 Ensure talk server is not enabled
      shell: 'systemctl is-enabled ntalk'
      register: v2218
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.18 Ensure talk server is not enabled (Scored)": "disabled" in v2218.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.19 Ensure telnet server is not enabled (Scored)
  block:
    - name: 2.2.19 Ensure telnet server is not enabled
      shell: 'systemctl is-enabled telnet.socket'
      register: v2219
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.19 Ensure telnet server is not enabled (Scored)": "disabled" in v2219.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.20 Ensure tftp server is not enabled (Scored)
  block:
    - name: 2.2.20 Ensure tftp server is not enabled
      shell: 'systemctl is-enabled tftp.socket'
      register: v2220
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.20 Ensure tftp server is not enabled (Scored)": "disabled" in v2220.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation

- name: 2.2.21 Ensure rsync service is not enabled (Scored)
  block:
    - name: 2.2.21 Ensure rsync service is not enabled
      shell: 'systemctl is-enabled rsyncd'
      register: v2221
      ignore_errors: true
    - set_fact:
        results: '{{ results|combine({"2.2.21 Ensure rsync service is not enabled (Scored)": "disabled" in v2221.stdout}) }}'
  tags:
    - level1_server
    - level1_workstation
