---
- name: 2.3.1 Ensure NIS Client is not installed (Scored)
  block:
    - name: check wether Network Information Service client is not installed
      shell: "rpm -q ypbind"
      register: v231_output
    - set_fact:
        results: "{{ results|combine({'2.3.1': 'package ypbind is not installed' in v231_output.stdout}) }}"
- name: 2.3.2 Ensure rsh client is not installed (Scored)
  block:
    - name: check wether rsh package is installed
      shell: "rpm -q rsh"
      register: v232_output
    - set_fact:
        results: "{{ results|combine({'2.3.2': 'package rsh is not installed' in v232_output.stdout}) }}"
- name: 2.3.3 Ensure talk client is not installed (Scored)
  block:
    - name: check wether talk client package is installed
      shell: "rpm -q talk"
      register: v233_output
    - set_fact:
        results: "{{ results|combine({'2.3.3': 'package talk is not installed' in v233_output.stdout}) }}"
- name: 2.3.4 Ensure telnet client is not installed (Scored)
  block:
    - name: check if telnet client package is installed
      shell: "rpm -q telnet"
      register: v234_output
    - set_fact:
        results: "{{ results|combine({'2.3.4': 'package telnet is not installed' in v234_output.stdout}) }}"
- name: 2.3.5 Ensure LDAP client is not installed (Scored)
  block:
    - name: check if ldap client is installed
      shell: "rpm -q openldap-clients"
      register: v235_output
    - set_fact:
        results: "{{ results|combine({'2.3.5': 'package openldap-clients is not installed' in v235_output.stdout}) }}"
